body {
   
 background: #f779c9;
 background: -moz-linear-gradient(top,  #f779c9 0%, #c85ec7 43%, #873b79 100%);
 background: -webkit-linear-gradient(top,  #f779c9 0%,#c85ec7 43%,#873b79 100%);
 background: linear-gradient(bottom,  #f779c9 0%,#c85ec7 43%,#873b79 100%);
 

}
